.frame-child17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.iconlylight-outlineprofile28 {
  position: relative;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.user28 {
  position: absolute;
  top: 2px;
  left: 3px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.ellipse-parent,
.notification-01-icon28 {
  position: absolute;
  top: 5px;
  left: 103px;
  width: 50px;
  height: 50px;
}
.notification-01-icon28 {
  left: 24px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.frame-parent109 {
  position: absolute;
  top: 101px;
  left: 1435px;
  background-color: var(--color-gainsboro-200);
  width: 178px;
  height: 60px;
}
.logo-icon32 {
  position: absolute;
  top: 63px;
  left: 405px;
  width: 138px;
  height: 136px;
  cursor: pointer;
}
.logo36 {
  position: absolute;
  height: 15.84%;
  width: 5.15%;
  top: 35.64%;
  left: 21.82%;
  display: flex;
  align-items: center;
}
.header30 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-300);
  width: 1980px;
  height: 303px;
}
.divider26 {
  position: absolute;
  height: 100%;
  top: 71px;
  right: 0;
  bottom: -71px;
  background-color: var(--wf-base-800);
  width: 2px;
}
.title83 {
  flex: 1;
  position: relative;
  letter-spacing: 0.1em;
  line-height: 140%;
  font-weight: 500;
}
.title82 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-2xs);
}
.icon-placeholder176 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.label309 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
}
.sidebar-nav-item-base176 {
  width: 258px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-21xl);
  align-items: center;
  gap: var(--gap-3xs);
}
.nav43,
.sidebar-nav-item-base176,
.sidebar-nav-item-base177 {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.sidebar-nav-item-base177 {
  background-color: var(--wf-base-300);
  width: 258px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-21xl);
  align-items: center;
  gap: var(--gap-3xs);
}
.nav43 {
  position: absolute;
  width: calc(100% - 2px);
  top: 0;
  right: 2px;
  left: 0;
  flex-direction: column;
  padding: var(--padding-5xl) 0 var(--padding-5xs);
  align-items: flex-start;
}
.divider-115,
.divider-215 {
  align-self: stretch;
  position: relative;
  background-color: var(--wf-base-800);
  height: 2px;
  flex-shrink: 0;
}
.divider-215 {
  display: none;
}
.wf-divider2415 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) 0;
  align-items: center;
  justify-content: center;
}
.nav44,
.wf-sidebar26 {
  position: absolute;
  bottom: 0;
}
.nav44 {
  width: calc(100% - 2px);
  right: 2px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.wf-sidebar26 {
  height: 100%;
  top: 0;
  left: 368px;
  background-color: var(--wf-base-200);
  width: 214px;
  overflow: hidden;
}
.title84 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 130%;
}
.icon-left-wrapper122 {
  position: relative;
  width: 12px;
  height: 20px;
  flex-shrink: 0;
  display: none;
}
.label317 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.button-183,
.button-239 {
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button-239 {
  border: 2px solid var(--wf-base-800);
}
.button-183 {
  background-color: var(--wf-base-800);
  color: var(--white);
}
.button-stack26 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--wf-buttons-button-medium-size);
}
.create-account-child,
.wf-title-bar26 {
  position: absolute;
  box-sizing: border-box;
}
.wf-title-bar26 {
  width: calc(100% - 949px);
  top: 2px;
  right: 367px;
  left: 582px;
  border-bottom: 2px solid var(--wf-base-800);
  height: 92px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-61xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--wf-headings-heading-m-size);
  color: var(--wf-base-800);
}
.create-account-child {
  top: 64px;
  left: 247px;
  border: 3px solid var(--color-black);
  width: 999px;
  height: 1304px;
  display: none;
}
.frame-child18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-300);
  width: 495px;
  height: 72px;
}
.create-account1 {
  position: absolute;
  top: 2px;
  left: 91px;
  display: flex;
  align-items: center;
  width: 342px;
  height: 70px;
}
.rectangle-parent74 {
  position: absolute;
  top: 101px;
  left: 6px;
  width: 495px;
  height: 72px;
  display: none;
}
.dropdown-item3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
  font-weight: 500;
}
.arrow-down-27 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.dropdown-item-parent1 {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--white);
  border-top: 2px solid var(--subtle-2);
  border-right: 2px solid var(--subtle-2);
  border-bottom: 1px solid var(--subtle-2);
  border-left: 2px solid var(--subtle-2);
  box-sizing: border-box;
  width: 240px;
  height: 36px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.option-127 {
  flex: 1;
  position: relative;
  letter-spacing: 0.08px;
  line-height: 20px;
}
.option-text27,
.option7,
.speciality7 {
  align-items: flex-start;
  justify-content: flex-start;
}
.option-text27 {
  width: 240px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.option7,
.speciality7 {
  flex-direction: column;
}
.option7 {
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--white);
  border-right: 2px solid var(--subtle-2);
  border-bottom: 2px solid var(--subtle-2);
  border-left: 2px solid var(--subtle-2);
  display: flex;
  padding: var(--padding-5xs) 0;
}
.speciality7 {
  position: absolute;
  top: 562px;
  left: 6px;
  display: none;
  font-size: var(--body-medium-size);
  color: var(--subtle-1);
  font-family: var(--body-medium);
}
.choose-speciality5 {
  position: absolute;
  top: 532px;
  left: 10px;
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-weight: 600;
  color: var(--color-dimgray-300);
  text-align: center;
  display: none;
}
.email5,
.password6 {
  border: 0;
  font-weight: 500;
  font-family: var(--wf-buttons-button-medium);
  font-size: var(--font-size-xl);
}
.email5 {
  background-color: var(--white);
  position: absolute;
  top: 123px;
  left: 0;
  width: 492px;
  height: 67.05px;
}
.password6 {
  background-color: transparent;
  top: 246px;
}
.password6,
.repeat-password2,
.repeat-password3 {
  position: absolute;
  left: 0;
  background: linear-gradient(#fff, #fff), #fff;
  width: 492px;
  height: 67.05px;
}
.repeat-password2 {
  border: 0;
  font-weight: 500;
  font-family: var(--wf-buttons-button-medium);
  font-size: var(--font-size-xl);
  background-color: transparent;
  top: 369px;
}
.repeat-password3 {
  top: 492px;
}
.background50,
.first-name {
  position: absolute;
  top: 0;
  left: 0;
}
.first-name {
  border: 0;
  font-weight: 500;
  font-family: var(--wf-buttons-button-medium);
  font-size: var(--font-size-xl);
  background-color: var(--white);
  width: 492px;
  height: 67.05px;
}
.background50 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkcyan-300);
}
.text20 {
  position: absolute;
  width: calc(100% - 49px);
  top: calc(50% - 11px);
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-primary8 {
  height: 4.85%;
  width: 97.76%;
  top: 110.06%;
  right: 2.24%;
  bottom: -14.91%;
  cursor: pointer;
}
.button-primary8,
.email-parent,
.upload-document3 {
  position: absolute;
  left: 0;
}
.upload-document3 {
  top: 615px;
  width: 476px;
  height: 237px;
}
.email-parent {
  top: 0;
  width: 492px;
  height: 825px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--subtitle-2-unbold);
}
.create-account {
  position: absolute;
  top: 184px;
  left: 828px;
  width: 499px;
  height: 1265px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.wf-sidebar-parent19 {
  position: absolute;
  top: 301px;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1980px;
  height: 1679px;
  overflow: hidden;
  font-size: var(--body-medium-size);
  color: var(--wf-base-600);
  font-family: var(--wf-buttons-button-medium);
}
.clinic-owner-create-doctor-a {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1980px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--subtitle-2-unbold);
}
