body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --wf-buttons-button-medium: Inter;
  --small-size-body-regular: Poppins;
  --subtitle-2-unbold: Roboto;
  --body-medium: "Work Sans";
  --font-lato: Lato;
  --font-montserrat: Montserrat;
  --font-sf-pro-display: "SF Pro Display";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-smi: 13px;
  --wf-buttons-button-medium-size: 16px;
  --wf-headings-heading-m-size: 32px;
  --body-medium-size: 14px;
  --font-size-2xs: 11px;
  --font-size-17xl: 36px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-mid: 17px;
  --font-size-9xl: 28px;
  --font-size-2xl: 21px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-37xl: 56px;
  --font-size-13xl-8: 32.8px;
  --font-size-base-4: 16.4px;
  --font-size-42xl-4: 61.4px;
  --font-size-5xl-6: 24.6px;
  --font-size-smi-3: 12.3px;
  --font-size-lg-4: 18.4px;
  --font-size-xl-5: 20.5px;
  --font-size-base-3: 15.3px;
  --font-size-2xs-9: 10.9px;
  --font-size-3xl: 22px;

  /* Colors */
  --white: #fff;
  --color-whitesmoke-100: #f9f9fb;
  --background-enable: #f5f7fa;
  --color-whitesmoke-200: #f2f2f2;
  --color-whitesmoke-300: #f2f1f1;
  --gray-palette-gray30: #ededed;
  --color-whitesmoke-400: rgba(242, 242, 242, 0.3);
  --color-black: #000;
  --color-red-100: #f92c2c;
  --color-red-200: #ff0000;
  --gray-400: #dcdfe3;
  --color-gainsboro-100: #dcdcdc;
  --color-gainsboro-200: #d9d9d9;
  --text-medium: #494e50;
  --color-darkslategray-100: #464646;
  --grey-grey-800: #424242;
  --gray-900: #3b3e45;
  --wf-base-800: #2d3648;
  --color-darkslategray-200: rgba(67, 54, 54, 0.13);
  --wf-base-200: #edf0f7;
  --wf-base-300: #e2e7f0;
  --wf-base-600: #717d96;
  --color-darkslateblue: #365aa3;
  --color-dimgray-100: #737373;
  --color-dimgray-200: #717171;
  --color-dimgray-300: #666;
  --subtle-1: #61646b;
  --color-dimgray-400: #615f5f;
  --text-darkgrey: #585e6a;
  --color-dimgray-500: #5e5e5e;
  --color-dimgray-600: #515151;
  --color-mediumblue: #0047ff;
  --subtle-2: #afb1b6;
  --color-darkgray-100: #aeaeae;
  --text-light: #a0a5b6;
  --gray-palette-gray60: #9e9e9e;
  --color-darkgray-200: #999;
  --color-darkgray-300: #989898;
  --color-darkgray-400: #969696;
  --color-gray-100: #818181;
  --color-gray-200: #787878;
  --color-gray-300: #2b2b36;
  --gray-2: #2c2c2e;
  --color-gray-400: #0d0d0d;
  --gray-palette-gray100: #0a0a0a;
  --color-gray-500: rgba(0, 0, 0, 0.6);
  --color-gray-600: rgba(0, 0, 0, 0.5);
  --color-gray-700: rgba(255, 255, 255, 0.55);
  --color-gray-800: rgba(0, 0, 0, 0.3);
  --color-gray-900: rgba(0, 0, 0, 0.87);
  --secondary-color-1: #ff3b30;
  --color-dodgerblue-100: #328af1;
  --color-dodgerblue-200: #0085ff;
  --color-darkorange: #ff7a00;
  --color-lime: #00ff47;
  --color-mediumslateblue-100: #0066ff;
  --color-mediumslateblue-200: #0065fc;
  --color-lightgray-100: #d4d4d4;
  --color-lightgray-200: #d1d1d1;
  --color-deepskyblue: #40a1e7;
  --color-silver-100: #c7c7c7;
  --text-inactive: #bdc0cc;
  --color-silver-200: #bfbfbf;
  --color-limegreen-100: #4edc54;
  --color-limegreen-200: #33d957;
  --color-limegreen-300: #00d308;
  --color-limegreen-400: #00bb40;
  --color-limegreen-500: #06c202;
  --blue-blue-500: #2196f3;
  --blue-active: #6774bd;
  --primary-enable: #01a2f9;
  --color-cornflowerblue-100: #3885e0;
  --primary-focused: #0095e5;
  --line-enable: #e5e7f0;
  --color-darkcyan-100: #128983;
  --color-darkcyan-200: rgba(18, 137, 131, 0.15);
  --color-darkcyan-300: rgba(18, 137, 131, 0.6);
  --color-firebrick: #bf0000;
  --color-chocolate: #ff8c39;
  --color-crimson: #d42121;
  --color-royalblue-100: #1a71ff;
  --color-royalblue-200: #006ae5;
  --color-lightskyblue: rgba(88, 182, 222, 0.5);
  --color-deeppink-100: #f62088;
  --color-deeppink-200: rgba(246, 32, 136, 0.15);
  --color-blue-100: #0000ff;
  --color-blue-200: rgba(0, 0, 255, 0.15);
  --color-blue-300: rgba(0, 0, 255, 0.6);
  --color-orangered: #ff6b00;
  --blue-light: #a5add7;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-11xl: 30px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-6xl: 25px;
  --padding-99xl: 118px;
  --padding-39xl: 58px;
  --padding-13xl: 32px;
  --padding-61xl: 80px;
  --padding-xs: 12px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-21xl: 40px;
  --padding-base: 16px;
  --padding-116xl: 135px;
  --padding-81xl: 100px;
  --padding-lgi: 19px;
  --padding-mid: 17px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-33xl: 52px;
  --padding-41xl: 60px;
  --padding-311xl: 330px;
  --padding-180xl: 199px;
  --padding-31xl: 50px;
  --padding-376xl: 395px;
  --padding-181xl: 200px;
  --padding-325xl: 344px;
  --padding-305xl: 324px;
  --padding-124xl: 143px;
  --padding-479xl: 498px;
  --padding-480xl: 499px;
  --padding-119xl: 138px;
  --padding-54xl: 73px;
  --padding-11xs: 2px;
  --padding-281xl: 300px;
  --padding-335xl: 354px;
  --padding-260xl: 279px;
  --padding-193xl: 212px;
  --padding-29xl: 48px;
  --padding-322xl: 341px;
  --padding-799xl: 818px;
  --padding-55xl: 74px;
  --padding-143xl: 162px;
  --padding-8xs-4: 4.4px;
  --padding-57xl: 76px;
  --padding-2xs: 11px;
  --padding-10xs: 3px;
  --padding-5xs-5: 7.5px;

  /* border radiuses */
  --br-base: 16px;
  --br-6xl: 25px;
  --br-7xs: 6px;
  --br-5xs: 8px;
  --br-5xl: 24px;
  --br-8xl: 27px;
  --br-13xl: 32px;
  --br-sm: 14px;
  --br-mid: 17px;
  --br-181xl: 200px;
  --br-3xl: 22px;
  --br-17xl: 36px;
  --br-9xs: 4px;
  --br-xs: 12px;
  --br-21xl: 40px;
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-25xl: 44px;
  --br-base-4: 16.4px;
  --br-lg: 18px;
  --br-4xs-2: 8.2px;
  --br-14xl: 33px;
  --br-25xl-6: 44.6px;
  --br-10xs: 3px;

  /* Effects */
  --bootstrap-regular: 0px 8px 16px rgba(0, 0, 0, 0.15);
  --bootstrap-focused: 0px 0px 0px 3.2px rgba(32, 162, 232, 0.25);
}
