header i {
    font-size: 1.25em;
}

.sub-menu-wrap {
    position: absolute;
    top:100%;
    right:0;
    width: 230px;
    border-radius: 5%;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    z-index: 10;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu-wrap h4 {
    margin-bottom: 0;
}

.sub-menu-link {
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #717D96;
    padding: 10px;
    width:100%;
}

.sub-menu-link p {
    width:100%;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.sub-menu-link i:first-child {
    padding:5px 10px 5px 5px;
}

.sub-menu-link i:last-child {
    font-size: 14px;
    transition: transform 0.5s;
}

.sub-menu-link:hover i:last-child {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: bolder;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #717D96;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 82.5vh;
}

.side-navbar {
    background-color: #EDF0F7;
    border-right: 2px solid black;
}

.side-navbar .bottom-side-navbar {
    border-top: 2px solid black;
}

ul {
    width: 100%;
    padding-left: 0 !important;
    list-style: none;
}

ul .active {
    background-color: #E2E7F0;
    z-index: 1;
}

ul .active a {
    color: #2D3648;
}

ul li {
    padding: 10px 10px;
}

ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #717D96;
    padding: 10px 15px;
}

.content h1 {
    border-bottom: 2px solid black;
    font-weight: bold;
}