.d-flex::-webkit-scrollbar {
    display: none;
}

.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
}

video {
    height: 100%;
    width: 100%;
}

.register {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer>div:last-child>div:last-child {
    margin: 5vh 0;
}

.modal img {
    width: 100px;
    height: 100px;
}

form.d-flex {
    padding: 15px 0;
}

.divider {
    width: 1px;
    height: 90%;
    background-color: black;
}

footer {
    display: grid;
    grid-template-columns: 1fr 5.5fr 0.5fr 3fr;
    gap: 15px;
}

.product-details>div:last-child {
    margin-left: 15px;
}

img {
    vertical-align: top;
}

footer a {
    display: block;
}

footer img.logo {
    width: calc(5vmin + 2vmax + 45px);
    height: calc(5vmin + 2vmax + 45px);
}