/* src/css/appointmentlist.css */
.appointment-list {
  width: 100%;
}

.appointment-list h3 {
  color: #2d3648;
  margin-bottom: 1rem;
}

.appointment-list table {
  width: 100%;
  border-collapse: collapse;
}

.appointment-list th,
.appointment-list td {
  border: 1px solid #717d96;
  padding: 0.5rem;
  text-align: left;
}

.appointment-list th {
  background-color: #e2e7f0;
  color: #2d3648;
}
