.dashboard > :first-child {
  flex: 0 1 auto;
}

.dashboard > :not(:first-child) {
  flex: 1 1 auto;
}

.dashboard > main > h1 + div {
  margin: 1rem 0 0 1rem;
}

.dashboard > main > h1 {
  border-bottom: 2px solid black;
  font-weight: bold;
  padding: 0.8rem;
}
