.dashboard > :first-child {
  flex: 0 1 auto;
}

.dashboard > :not(:first-child) {
  flex: 1 1 auto;
}

.dashboard > main > h1 + div {
  margin: 0.8rem;
}

.dashboard > main > h1 {
  border-bottom: 2px solid black;
  font-weight: bold;
  padding: 0.8rem;
}

.dashboard-stats {
  display: flex;
  gap: 1rem;
}

.dashboard-stats div {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 4px;
}
