.dashboard > * {
  flex: 1;
}

.dashboard > :first-child {
  flex-grow: 0.2;
}

.dashboard > main {
  padding: 0.8rem;
}

.dashboard > main > h1 {
  border-bottom: 2px solid black;
  font-weight: bold;
}

.dashboard-stats {
  display: flex;
  gap: 1rem;
}

.dashboard-stats div {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 4px;
}
