footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

footer > * {
  position: relative !important;
  flex: 1;
}

footer > *:nth-child(2) {
  flex-grow: 4;
}

footer > *:last-child {
  flex-grow: 2;
}

footer img {
  width: clamp(100px, 9vmax, 8rem);
  height: clamp(100px, 9vmax, 8rem);
}

footer > div:last-child > div:last-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > div:last-child > div:last-child > div svg {
  font-size: 1rem;
}
