.patient-details {
  background-color: white;
  padding: 1.3rem;
  border-radius: 4px;
}

.patient-details h1 {
  color: #2d3648;
  margin-bottom: 1rem;
}

.patient-details .row label {
  font-weight: bold;
  margin: 0;
}
