.clinic-overview {
  background: white;
}

.clinic-overview > div.d-flex > * {
  padding: 2rem;
}

.clinic-overview > div.d-flex > div:first-child {
  border-right: 1px solid black;
}

.clinic-overview > div.d-flex > .clinic-details > div > span:first-child {
  font-size: 1rem;
  font-weight: bold;
}

.clinic-overview > div.d-flex > .clinic-details.row > .col {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
}

@media screen and (max-width: 768px) {
  .clinic-overview > div.d-flex > div:first-child {
    border-right: none;
  }
}
